<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.redborn.csatlatte.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.redborn.csatlatte.android.view.MainActivity"
            android:label="@string/csatlatte"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.RandomQuestionActivity"
            android:label="@string/menu_random_question"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.RandomQuestionTestActivity"
            android:label="2016 6월 2학년 전국연합학력평가 - 영어"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.RandomQuestionResultActivity"
            android:label="2016 6월 2학년 전국연합학력평가 - 영어"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.LoginIdActivity"
            android:label="로그인"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.LoginPasswordActivity"
            android:label="로그인"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.JoinLoginInfoActivity"
            android:label="회원가입"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.JoinSecurityActivity"
            android:label="회원가입"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.JoinProfileActivity"
            android:label="회원가입"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.JoinResultActivity"
            android:label="회원가입"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.FindPasswordActivity"
            android:label="비밀번호 찾기"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.FindPasswordSecurityActivity"
            android:label="비밀번호 찾기"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.FindPasswordResetActivity"
            android:label="비밀번호 찾기"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.FindPasswordResultActivity"
            android:label="비밀번호 찾기"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.FindIdActivity"
            android:label="아이디 찾기"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.FindIdSecurityActivity"
            android:label="아이디 찾기"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.FindIdResultActivity"
            android:label="아이디 찾기"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.SettingActivity"
            android:label="설정"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.SettingRandomQuestionActivity"
            android:label="임의 문제 풀기 설정"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.SettingCopyrightActivity"
            android:label="Copyright"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.redborn.csatlatte.android.view.MyInfoActivity"
            android:label="내 정보"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
